<h2 class="text-primary mt-12">Najlepsze wyniki</h2>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Gracz
            </th>
            <th>
                Punkty
            </th>
            <th>
                Data
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1.
            </td>
            <td class="fw-bold">
                Eq
            </td>
            <td class="fw-bold text-primary">
                4000
            </td>
            <td>
                3 luty 2020
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="fw-bold">
                Eq
            </td>
            <td class="fw-bold text-primary">
                4000
            </td>
            <td>
                3 luty 2020
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="fw-bold">
                Eq
            </td>
            <td class="fw-bold text-primary">
                4000
            </td>
            <td>
                3 luty 2020
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="fw-bold">
                Eq
            </td>
            <td class="fw-bold text-primary">
                4000
            </td>
            <td>
                3 luty 2020
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="fw-bold">
                Eq
            </td>
            <td class="fw-bold text-primary">
                4000
            </td>
            <td>
                3 luty 2020
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="fw-bold">
                Eq
            </td>
            <td class="fw-bold text-primary">
                4000
            </td>
            <td>
                3 luty 2020
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="fw-bold">
                Eq
            </td>
            <td class="fw-bold text-primary">
                4000
            </td>
            <td>
                3 luty 2020
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="fw-bold">
                Eq
            </td>
            <td class="fw-bold text-primary">
                4000
            </td>
            <td>
                3 luty 2020
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="fw-bold">
                Eq
            </td>
            <td class="fw-bold text-primary">
                4000
            </td>
            <td>
                3 luty 2020
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="fw-bold">
                Eq
            </td>
            <td class="fw-bold text-primary">
                4000
            </td>
            <td>
                3 luty 2020
            </td>
        </tr>
    </tbody>
</table>